
    body{
        background-color: bisque;
        font-family:"Comic Sans MS", cursive, sans-serif ;
    }
    
    .celebrity-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 20px;
    }

    .celebrity-image-container {
      flex-basis: 50%;
      max-width: 50%;
      position: relative;
    }

    .celebrity-image {
      width: 100%;
      height: auto;
      display: block;
    }

    .celebrity-info {
      flex-basis: 50%;
      padding: 0 20px;
    }

    .celebrity-info h2 {
      margin-top: 0;
    }
  