
    /* Add some basic styling */
    body {
        background-image:url('menb.jpeg') ;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    .image-container {
      width: 50%; /* Adjust the width as desired */
      margin: 0 auto; /* Center align the container */
      text-align: center;
    }
    .image-container img {
      max-width: 100%;
      height: auto;
    }
  